body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(109, 175, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    width: 90%;
    justify-self: center;
    align-self: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.row-1-of-1 {
    height: 10%;
    background-color: rgb(25, 127, 244);
}
.row-2-of-1 {
    height: 90%;
    background-color: rgb(66, 148, 242);
}

.col {
    margin: 5px;
    padding: 5px;
    height: calc(100% - 20px);
    background-color: rgb(14, 99, 196);
}

.col-1-row-1 {
    width: calc(25% - 20px);
}

.col-2-row-1 {
    width: calc(75% - 20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-1-row-2 {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.tabs {
    margin: 5px;
    padding: 5px;
    height: calc(80% - 20px); 
    width: calc(12.5% - 20px);
    background-color: rgb(13, 67, 128);
}

.tabs:hover {
    background-color: rgb(109, 175, 250);
}

.infotabs {
    margin: 5px;
    padding: 5px;
    height: calc(10% - 20px);
    background-color: rgb(13, 67, 128);
    flex: 1;
    transition: 1s;
}

.infotabs:hover {
    flex-grow: 5;
}