@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.menu-bar {
  float: right;
  font-weight: 700;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-background {
  background: #fff;
}
